.colorblack{
    color: black !important;
}
.bold{
    font-weight: bolder;
}
.bgk{
    background-color: #f3f3f3 !important;
}
label{
    color: black;
}

.demoImage{
    max-width:120px !important;
    max-height:100px !important;
    margin:5px 20px 0px 0px !important;
}

.button_default {
    padding         : 0px 60px;
    box-shadow      : 2px 5px 14px 0px rgb(0 0 0 / 26%);
    padding         : 7px 50px;
    border          : none;
    background-color: #d111cb73;
    color           : #fff;
  }
  
  .button_default:hover {
    transform: translateY(2px);
  }

.ant-tabs-tab-active{
    background-color: orange !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:white !important;
}

.ant-tabs-tab .ant-tabs-tab-btn:hover{
    color:orange !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn:hover{
    color:white !important;
}

.sidebar{
    height: 100vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
    color: #d111cb73!important;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
    border-right:3px solid #d111cb73!important;
}
.ant-menu-item-selected {
    color: #d111cb73!important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fffee3!important;
}
.ant-menu-item a:hover,.ant-menu-item-icon:hover{
    color: #d111cb73!important;
}
.ant-menu-light .ant-menu-item:hover , .ant-menu-light .ant-menu-item-active{
    color: #d111cb73!important;
}

.maincontent-left{
    margin-left: auto;
    /* margin-right: auto; */
    width: 80vw;
}
.ant-layout-sider-light {
    max-width: 20vw !important ;
    min-width: 20vw !important ;
    width: 20vw !important ;
    flex: 0 0 20vw !important ;
    position: fixed !important ;
    height: 100vh !important ;
    overflow: auto !important ;
}